#/var/www/html/.htaccess
RewriteEngine On
RewriteRule ^$ /index.pl?Controller=Blog [L,QSA]
RewriteRule ^/$ /index.pl?Controller=Blog [L,QSA]
RewriteRule ^([A-Z][A-Za-z]+)$ /index.pl?&Controller=$1 [L,QSA]
RewriteRule ^([A-Z][A-Za-z]+)/([A-Z]\w+)$ /index.pl?&Controller=$1&View=$2 [L,QSA]
RewriteRule ^([A-Z][A-Za-z]+)/([A-Z]\w+)/(\w+)$ /index.pl?&Controller=$1&View=$2&SubView=$3 [L,QSA]
RewriteRule ^([A-Z][A-Za-z]+)/([A-Z]\w+)/([\w\-]+)/([\w\-]+)$ /index.pl?&Controller=$1&View=$2&SubView=$3&UrlId=$4 [L,QSA]
RewriteRule ^([\w\-]+)$ /index.pl?&Controller=Url&View=$1 [L,QSA]
RewriteRule ^([\w\-]+)/([\w\-]+)$ /index.pl?&Controller=Url&View=$1&SubView=$2 [L,QSA]
<FilesMatch ".pm">
    Order Deny,Allow
    Deny from All
</FilesMatch>
