<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="/templates/ZeraWebsite/css/template.css" />
    <title><% page.title %></title>
    <% IF page.keywords %><meta name="keywords" content="<% page.keywords %>"><% END %>
    <% IF page.description %><meta name="description" content="<% page.description %>"><% END %>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="/templates/ZeraWebsite/img/zera.png" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <!-- li class="nav-item"><a class="nav-link" href="/wiki">Wiki</a></li -->
                    <!-- li class="nav-item"><a class="nav-link" href="/Docs">Docs</a></li -->
                    <!-- li class="nav-item"><a class="nav-link" href="/contribute">Contribute</a></li -->
                    <!-- li class="nav-item"><a class="nav-link" href="/newsletter">Newsletter</a></li -->
                    <li class="nav-item"><a class="nav-link" href="/Blog">Blog</a></li>
                </ul>
                <ul class="navbar-nav justify-content-end nav-small">
                    <li class="nav-item">
                        <a target="_blank" class="nav-link active" href="https://github.com/davidromero55/Zera"><i class="fab fa-github-alt"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br /><br /><br /><br /><br /><br />
    <div class="container">
        <% content %>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-4 text-center">
                    <h6>Fork me on github</h6>
                    <p class="text-center">
                      <h4><a target="_blank" class="nav-link active" href="https://github.com/davidromero55/Zera"><i class="fab fa-github-alt"></i></a></h4>
                    </p>
                </div>
                <div class="col-4">
                    <h6></h6>
                </div>
                <div class="col-4">
                    <h6>Join our mailing list</h6>
                    <iframe src="https://marketero.io/zera/Public/Landing?lpkey=2991d649619cfb9" height="300" width="100%" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
