<div class="row  justify-content-center">
    <div id="loginbox" style="margin-top:10px; margin-bottom: 100px;" class="col-12 col-sm-10 col-md-8">
        <div class="card">
            <div class="card-header text-center"><img src="/templates/ZeraInstall/zera.png" class="img-fluid" /></div>
            <div style="padding-top:30px" class="card-body">
                <h4>Welcome to Zera install script</h4>
                <p>The first step is to have the Zera Module depencencies.</p>
                <% content %>
            </div>
        </div>
    </div>
</div>
