        <div class="row  justify-content-center">
            <div class="col-12 col-sm-8 col-md-6">
                <h3><% page.title %></h3>
                <div class="alert alert-warning" role="alert">Save your password on a secure and secret location</div>
                <div class="card">
                    <div style="padding-top:30px" class="card-body">
                        <% msg %>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Admin username and password</h4>
                                <ul class="list-group">
                                    <li class="list-group-item">Username: <% install.User.Email %></li>
                                    <li class="list-group-item">Password: <% install.User.Password %></li>
                                    <li class="list-group-item">Admin address: <a href="/Admin">http://<% install.Website.URL %>/Admin</a></li>
                                </ul>
                                <br />
                                <h4>Clean and secure your installation <i class="fas fa-shield-alt"></i></h4>
                                <div class="alert alert-info                   " role="alert">
                                    This action will:
                                    <ol>
                                        <li>Delete the instalation files and scripts.</li>
                                        <li>Set the apropiate file permisions.</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <br />
                        <% vars.form_start %>
                        <% FOREACH field IN vars.fields %><% IF field.type == 'hidden' %><% field.field %><% END %><% END %>
                            <div class="form-row">
                                <% FOREACH field IN vars.fields %><% IF field.type != 'hidden' %>
                                <div class="form-group mb-2 <% IF field.span %><% field.span %><% ELSE %>col-md-6<% END %>">
                                    <label class="mb-0 w-100" for="<% field.name %>"><% field.label %><% IF field.required %> *<% END %></label>
                                    <div class="position-relative">
                                        <% field.field %>
                                        <% IF field.invalid_msg %><div class="invalid-feedback"><% field.invalid_msg %></div><% END %>
                                        <% IF field.help %><small class="form-text text-muted"><% field.help %></small><% END %>
                                    </div>
                                </div>
                                <% END %><% END %>
                            </div>
                            <div style="margin-top:10px" class="form-group">
                                <div class="col-sm-12 controls">
                                    <% FOREACH submit IN vars.submits %><% submit.submit %><% END %>
                                </div>
                            </div>
                        <% vars.form_end  %>
                    </div>
                </div>
            </div>
        </div>
