package Zera::Conf;

use strict;
BEGIN {
    use Exporter();
    use vars qw( @ISA @EXPORT @EXPORT_OK );
    @ISA = qw( Exporter );
    @EXPORT = qw(
                $conf
                );
}
use vars @EXPORT;

$conf->{DBI} = {
    conection     => "dbi:mysql:my_database",
    user_name     => "my_user",
    password      => "my_pass",
    charset       => 'utf8',
    time_zone     => '-6:00',
    Database      => 'my_database'
};

$conf->{App} = {
    Name      => 'Zera CMS',
    Version   => '0.1',
    URL       => '127.0.0.1',
    Copyright => 'Xaandia Tecnologías Digitales SA de CV',
    Language  => 'en_US',
    TimeZone  => 'US/Central',
    Resources => '/var/www/vhosts/my.page.com/httpdocs/',
};

$conf->{Cookie} = {
    Name      => "ZERA",
    'Max-Age' => "31536000", # Cookie life time in secconds
    Domain    => $conf->{App}->{URL},
    SameSite  => 'Strict',
    Path      => '/',
};

$conf->{Template} = {
    TemplateID => 'ZeraWebsite',
    UserTemplateID => 'ZeraUser',
    AdminTemplateID => 'ZeraAdmin',
};

$conf->{Security} = {
    Key => 'sdsd',
};

$conf->{Email} = {
    Server => 'zera.tech',
    Port   => '587',
    Auth   => 'LOGIN',
    User   => 'notifications@zera.tech',
    Password   => 'Edg0_h42',
    From => 'notifications@zera.tech',
    SSL  => 'starttls',
    Debug => '0',
};

1;