<div id="carousel<% group_id %>Indicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <% FOREACH banner = banners %>
        <li data-target="#carousel<% group_id %>Indicators" data-slide-to="<% loop.index() %>"<% IF loop.index() == 0 %> class="active"<% END  %>></li>
        <% END %>
    </ol>
    <div class="carousel-inner">
        <% FOREACH banner = banners %>
        <div class="carousel-item<% IF loop.index() == 0 %> active<% END %>">
            <% IF banner.url %><a href="<% banner.url %>"><% END %>
                <img class="d-block w-100" src="/data/img/<% banner.media %>" alt="<% banner.name %>">
            <% IF banner.url %></a><% END %>
        </div>
        <% END %>
    </div>
  <a class="carousel-control-prev" href="#carousel<% group_id %>Indicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel<% group_id %>Indicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
