.navbar-dark a {
    color: #FFF;
}

.md-18 {
    font-size: .875rem;
    line-height: 1.5;
}

.pointer {
    cursor: pointer;
}

.table-hover tbody tr:hover {
    background-color: #cce5ff;
    color: #004085;
}

.form-group .btn {
    margin-right: 5px;
}

.table-sm td, .table-sm th {
    padding: .15rem;
}

i.active {
    color: #155724;
}

i.inactive {
    color: #e2e3e5;
}
