<div class="row justify-content-md-center">
    <div class="col-12 col-md-8 col-lg-6">
        <div class="card">
            <div class="card-header text-center"><h2>Mi account</h2></div>
            <div style="padding-top:30px" class="card-body">
                <% msg %>
                <h5 class="card-title"><% user.name %></h5>
                <p class="card-text"><% user.email %></p>
                <a href="/User/Edit" class="card-link">Edit</a>
                <a href="/User/PasswordUpdate" class="card-link">Change password</a>
            </div>
        </div>
    </div>
</div>
