<div class="row">
  <div class="col-12">
    <div class="blog-item">
      <img src="<% entry.display_options.image %>" class="rounded img-fluid"/>
      <div class="row justify-content-md-center">
        <div class="col-10">
          <h2><% entry.title %></h2>
          <div class="addthis_inline_share_toolbox"></div>
          <p><% entry.description %></p>
          <div class="blog-links row">
            <div class="col-12">
              <% entry.content %>
            </div>
          </div>
          <div class="addthis_relatedposts_inline"></div>
        </div>
      </div>
    </div>
  </div>
</div>
