<div id="content">
  <div class="container">
    <div class="col-12">
      <h2 class="my-3 ml-3"><>% category.category %></h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <% FOREACH entry = entries %>
      <div class="col-6">
        <div class="blog-item">
          <div class="row justify-content-left">
            <div class="col-12">
              <a href="/<% entry.url %>"><img src="<% entry.display_options.image %>" class="rounded img-fluid"/></a>
              <a class="blog-title" href="/<% entry.url %>"><h2><% entry.title %></h2></a>
            </div>
          </div>
          <div class="row justify-content-left">
            <div class="col-12">
              <p><% entry.date %></p>
              <p><% entry.description %></p>
            </div>
          </div>
        </div>
      </div>
      <% END %>
    </div>
    <!--Paginación-->
    <div class="row text-center pb-5 mb-5 paginado">
      <div class="mx-auto">
        <% pag %>
      </div>
    </div>
  </div>
</div>
